
    img,
  picture,
  svg {
    max-width: 100%;
    height: auto;
    display: block;
  }


  .hero {
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  

  } 

  a {
    text-decoration: none;
    font-family: Instrument Serif, serif;
  }

  nav {
    display: flex;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #818181;
  }


 nav .nav-bar {
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: #818181;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.logo {
    position: relative;
    height: 100%;
    width: 80px;
  }

  .nav-bar .nav-links {
     display: flex;
    align-items: center;
  }

  .nav-bar .nav-links li {
    margin: 0 5px;
    list-style: none;
  }

  .nav-links li a {
    position: relative;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }

  .footer-links {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none; 
  } 